{% extends "administrador.html" %}

{% load staticfiles %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Perfil
      <small>{{ user.username }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url "asiu_admin:administrador" %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li>Perfil</li>
    </ol>
  </section>


  <section class="content">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Perfil</h3>
      </div><!-- /.box-header -->

      <div class="box-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
       
       
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ user.first_name }} {{ user.last_name }}</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ user.avatar.url }}" class="img-circle img-responsive"> </div>
                    
                    <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                      <dl>
                        <dt>DEPARTMENT:</dt>
                        <dd>Administrator</dd>
                        <dt>HIRE DATE</dt>
                        <dd>11/12/2013</dd>
                        <dt>DATE OF BIRTH</dt>
                           <dd>11/12/2013</dd>
                        <dt>GENDER</dt>
                        <dd>Male</dd>
                      </dl>
                    </div>-->
                    <div class=" col-md-9 col-lg-9 "> 
                      <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td>Nombre de Usuario:</td>
                            <td>{{ user.username }}</td>
                          </tr>

                          <tr>
                            <td>Nombres:</td>
                            <td>{{ user.first_name }}</td>
                          </tr>

                          <tr>
                            <td>Apellidos:</td>
                            <td>{{ user.last_name }}</td>
                          </tr>

                          <tr>
                            <td>Tipo:</td>
                            <td>{{ user.tipo }}</td>
                          </tr>

                          <tr>
                            <td>Email</td>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                          </tr>

                          <tr>
                            <td>Miembro desde</td>
                            <td>{{ user.date_joined }}</td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <!-- <a href="#" class="btn btn-primary">My Sales Performance</a>
                      <a href="#" class="btn btn-primary">Team Sales Performance</a> -->
                    </div>
                  </div>
                </div>

                <div class="panel-footer">
                  <a class="btn btn-social-icon btn-twitter"><i class="fa fa-edit"></i></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </section>
{% endblock %}