{% extends "administrador.html" %}

{% load staticfiles %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Predios
      <small>Activos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url "asiu_admin:administrador" %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Predios</li>
      <li>Activos</li>
    </ol>
  </section>


  <section class="content">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Predios Activos</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Matrícula</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Celular</th>
              <th>Ciudad</th>
              <th>Fotografía</th>
            </tr>
          </thead>

          <tbody>
            {% for base in bases %}
              <tr>
                <td>{{ base.matricula }}</td>
                <td>{{ base.nombres }}</td>
                <td>{{ base.apellidos }}</td>
                <td>{{ base.direccion1 }}</td>
                <td>{{ base.telefono }}</td>
                <td>{{ base.celular }}</td>
                <td>{{ base.ciudad }}</td>
                <td><img src="{{ base.fotografia_del_predio.url }}" width="50px"></td>
              </tr>
            {% endfor %}
          </tbody>
          <!-- <tfoot>
            <tr>
              <th>Matrícula</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Celular</th>
              <th>Ciudad</th>
              <th>Fotografía</th>
            </tr>
          </tfoot> -->
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </section>
{% endblock %}