<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es" xml:lang="es">
  <head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Programador | ASIU App</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/default/favicon.png' %}">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/dist/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{% static 'css/dist/skins/skin-blue.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/skins/skin-green.css' %}">

    <link rel='stylesheet' href="{% static 'plugins/fullcalendar/fullcalendar.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!--
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to get the
  desired effect
  |---------------------------------------------------------|
  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
  -->
  <body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="{% url "asiu_admin:programador" %}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>{{ title }}</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>{{ title }}</b>APP</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a> -->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <!-- <li class="dropdown messages-menu"> -->
                <!-- Menu toggle button -->
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li> -->
                    <!-- inner menu: contains the messages -->
                    <!-- <ul class="menu">
                      <li> --><!-- start message -->
                        <!-- <a href="#">
                          <div class="pull-left"> -->
                            <!-- User Image -->
                            <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div> -->
                          <!-- Message title and timestamp -->
                          <!-- <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4> -->
                          <!-- The message -->
                          <!-- <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li> --><!-- end message -->
                    <!-- </ul> --><!-- /.menu -->
                  <!-- </li> -->
                  <!-- <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li> --><!-- /.messages-menu -->

              <!-- Notifications Menu -->
              <!-- <li class="dropdown notifications-menu"> -->
                <!-- Menu toggle button -->
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li> -->
                    <!-- Inner Menu: contains the notifications -->
                    <!-- <ul class="menu">
                      <li> --><!-- start notification -->
                        <!-- <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li> --><!-- end notification -->
                    <!-- </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li> -->
              <!-- Tasks Menu -->
              <!-- <li class="dropdown tasks-menu"> -->
                <!-- Menu Toggle Button -->
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Tienes 9 tareas</li>
                  <li> -->
                    <!-- Inner menu: contains the tasks -->
                    <!-- <ul class="menu">
                      <li> --><!-- Task item -->
                        <!-- <a href="#"> -->
                          <!-- Task title and progress text -->
                          <!-- <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3> -->
                          <!-- The progress bar -->
                          <!-- <div class="progress xs"> -->
                            <!-- Change the css width attribute to simulate progress -->
                            <!-- <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li> --><!-- end task item -->
                    <!-- </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li> -->
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{{ user.avatar.url }}" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">
                      {{ user.username }}
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <!-- <img src="{% static 'img/dist/user2-160x160.jpg' %}" class="img-circle" alt="User Image"> -->
                    <img src="{{ user.avatar.url }}" class="img-circle" alt="User Image">
                    <p>
                      <strong>{{ user.first_name }} {{ user.last_name }}</strong> - {{ user.tipo }}
                      <small><strong>Miembro desde</strong> {{ user.date_joined }}</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!-- <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Estadísticas</a>
                    </div> -->
                    <!-- <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div> -->
                    <!-- <div class="col-xs-4 text-center">
                      <a href="#"></a>
                    </div>
                  </li> -->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{% url "asiu_admin:perfil" %}" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="{% url "asiu_admin:logout" %}" class="btn btn-danger btn-flat">Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <!-- <li>
                <a href="#" data-toggle=""><i class="fa fa-cog"></i></a>
              </li> -->

              <!-- -------------------------------------------------------------------------- -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-cog"></i>
                  <!-- <span class="label label-warning">10</span> -->
                </a>
                <ul class="dropdown-menu">
                  <!-- <li class="header">Ajustes</li> -->
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> Contactos
                        </a>
                      </li>
                      <!-- <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>-->
                    </ul>
                  </li>
                  <!-- <li class="footer"><a href="#">Ver todo</a></li> -->
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->

          {% for base in bases %}
            
            <div class="user-panel">
              <div class="pull-left image">
                <img src="{{ base.fotografia_del_predio.url }}" class="img-circle" alt="User Image">
              </div>
              <div class="pull-left info">
                <p><a href="#">{{ base.matricula }}</a></p>
                <!-- Status -->
                <a href="#">
                  <i class="fa fa-circle text-danger"></i> Mantenimiento de Lavadora
                </a>
              </div>
            </div>

          {% endfor %}

          <!-- search form (Optional) -->
          <!-- <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> -->
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <!-- <ul class="sidebar-menu">
            <li class="header">HEADER</li> -->
            <!-- Optionally, you can add icons to the links -->
            <!-- <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
              </ul>
            </li> -->
          <!-- </ul> --><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="background-color: #445542;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <!-- <h1>
            CHAT
            <small>:)</small>
          </h1> -->
          <!-- <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol> -->
          <!-- Construct the box with style you want. Here we are using box-danger -->
          <!-- Then add the class direct-chat and choose the direct-chat-* contexual class -->
          <!-- The contextual class should match the box, so we are using direct-chat-danger -->
          <div class="box box-success direct-chat direct-chat-warning col-sm-8">
            <div class="box-header with-border">
              <h3 class="box-title">Alexander Pierce</h3> <small>Instalación de Balastra</small>
              <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="3 Nuevos Mensajes" class="badge bg-red">3</span>
                <!-- <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button> -->
                <!-- In box-tools add this button if you intend to use the contacts pane -->
                <!-- <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button> -->
                <!-- <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                  <div class="direct-chat-info clearfix text-center">
                    <span class="direct-chat-name pull-left">Alexander Pierce</span>
                    <span class="direct-chat-timestamp pull-right">23 Ene 2:00 pm</span>
                  </div><!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="{% static 'img/dist/user1-128x128.jpg' %}" alt="message user image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    Buenas Tardes! Solicito un servicio de Instalación de Balastras
                  </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">Ximena Andrade</span>
                    <span class="direct-chat-timestamp pull-left"><span class="direct-chat-timestamp text-blue fa fa-check"> Entregado</span> 23 Ene 2:01 pm</span>
                  </div><!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="{% static 'img/dist/user3-128x128.jpg' %}" alt="message user image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    Buenas Tardes, Alexander. Para cuándo sería la instalación?
                  </div><!-- /.direct-chat-text -->
                    <span class="direct-chat-timestamp text-blue fa fa-eye"> Visto</span><!-- /.direct-chat-info -->
                </div><!-- /.direct-chat-msg -->
              </div><!--/.direct-chat-messages-->

              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  <li>
                    <a href="#">
                      <img class="contacts-list-img" src="{% static 'img/dist/user1-128x128.jpg' %}" alt="Contact Avatar">
                      <div class="contacts-list-info">
                        <span class="contacts-list-name">
                          Count Dracula
                          <small class="contacts-list-date pull-right">2/28/2015</small>
                        </span>
                        <span class="contacts-list-msg">How have you been? I was...</span>
                      </div><!-- /.contacts-list-info -->
                    </a>
                  </li><!-- End Contact Item -->
                </ul><!-- /.contatcts-list -->
              </div><!-- /.direct-chat-pane -->
            </div><!-- /.box-body -->
            <div class="box-footer">
              <div class="input-group">
                <button type="button" class="btn btn-default">
                  <span class="fa fa-microphone"></span>
                </button>

                <input id="txt-chatMensaje" style="width: 85%;" type="text" name="message" placeholder="Escribe..." class="form-control">

                <button type="button" class="btn btn-default">
                  <span class="fa fa-camera"></span>
                </button>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary btn-flat">Enviar</button>
                </span>
              </div>
            </div><!-- /.box-footer-->
          </div><!--/.direct-chat -->
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
          {% for resp in resps %}
            <button id="{{ resp.id }}" type="button" class="btn btn-default" style="width: 19%; margin-top: 3px;" tecla-1="{{ resp.tecla_1 }}" tecla-2="{{ resp.tecla_2 }}" tecla-3="{{ resp.tecla_3 }}" descripcion="{{ resp.descripcion }}" onclick="respuestaAutomatica()">{{ resp.nombre }}</button>
          {% endfor %}

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <!-- <footer class="main-footer"> -->
        <!-- To the right -->
        <!-- <div class="pull-right hidden-xs">
          Anything you want
        </div> -->
        <!-- Default to the left -->
        <!-- <strong>Copyright &copy; 2016 <a href="http:www.dpa.com.co">Design Project Arq</a>.</strong> Todos los derechos reservados.
      </footer> -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark .col-xs-3 .col-md-3">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-user"></i></a></li>
          <li><a href="#control-sidebar-calendar-tab" data-toggle="tab"><i class="fa fa-calendar"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-cog"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <img src="{% static 'img/dist/user2-160x160.jpg' %}" class="img-circle center-block" alt="User Image">
            <h3>Alexander Pierce</h3>
            <!-- <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul> --><!-- /.control-sidebar-menu -->

            <h4><i class="fa fa-phone text-green"></i> 327 7654</h4>

            <h4><i class="fa fa-barcode text-green"></i> 18980-K</h4>

            <!-- <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul> --><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Calendario</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-calendar-tab">
            <form method="post">
              <!-- <h3 class="control-sidebar-heading">Calendario</h3> -->
              <!-- <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div> --><!-- /.form-group -->
              <div id='calendar'></div>
            </form>
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="control-sidebar-stats-tab">Opciones</div><!-- /.tab-pane -->

          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">Opciones</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->

          <div>
            <button type="button" class="btn btn-info">Programar</button>
            <button type="button" class="btn btn-warning">Terminar</button>
          </div>

          <!-- <div>
            <strong>Copyright &copy; 2016 <a href="http:www.dpa.com.co">Design Project Arq</a>.</strong> Todos los derechos reservados.
          </div> -->
          
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Versión</b> {{version}}
      </div>
      <strong>Copyright &copy; <strong class="ano"></strong> <a href="#">Design Project Arq</a>.</strong> Todos los derechos reservados.
    </footer>

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- AdminLTE App -->
    <script src="{% static 'js/dist/app.min.js' %}"></script>

    <!-- Main -->
    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'plugins/fullcalendar/moment.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/fullcalendar.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
          $('#calendar').fullCalendar({
              // put your options and callbacks here
          })      });
    </script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
  </body>
</html>
